h1 Create Order

body
  form(action='/create', method='post')
    for type in pizzaTypes
      label Pizza Type
      p=type.name
      input(type='text', value=type.name, hidden=true)
      br
      label Price
      p= type.price
      label Qty
      select
        option(value='0', selected= true) -- Select --
        for num in [1,2,3,4,5]
          option(value= num)= num
    hr
    input(type='submit')
